name: Build VirtualBox

on:
  schedule:
    - cron: "10 2 * * *"
  workflow_dispatch: # allows manual triggering

concurrency:
  group: build-vbox
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build VirtualBox
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: "rampage"
          nix-permission-edict: true

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v32
        with:
          nix_conf: |
            accept-flake-config = true
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-vbox-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-vbox-${{ runner.os }}-
          gc-max-store-size-linux: 2G
          purge: true
          purge-prefixes: nix-vbox-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: "never"

      - name: Set up Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ccicnce113424 # replace with your Cachix cache name
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build VirtualBox
        run: |
          nix build --no-link --print-out-paths --print-build-logs .#vbox | cachix push ccicnce113424
