name: Build LiveCD

on:
  schedule:
    - cron: "10 2 * * *"
  workflow_dispatch: # allows manual triggering

concurrency:
  group: build-livecd
  cancel-in-progress: true

jobs:
  build-livecd:
    runs-on: ubuntu-latest
    name: Build LiveCD
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          nix-permission-edict: true

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v32
        with:
          nix_conf: |
            accept-flake-config = true
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-livecd-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-livecd-${{ runner.os }}-
          gc-max-store-size-linux: 2G
          purge: true
          purge-prefixes: nix-livecd-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: "never"

      - name: Build LiveCD
        run: |
          nix build .#nixosConfigurations.livecd.config.system.build.isoImage --print-build-logs

      - name: Upload LiveCD ISO
        uses: actions/upload-artifact@v5
        with:
          path: ./result/iso/*.iso
