name: Build LiveCD

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch: # allows manual triggering

jobs:
  build-livecd:
    runs-on: ubuntu-latest
    name: Build LiveCD
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # - uses: wimpysworld/nothing-but-nix@v9
      #   with:
      #     hatchet-protocol: "rampage"

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true

      # - name: Set up Cachix
      #   uses: cachix/cachix-action@v16
      #   with:
      #     name: ccicnce113424 # replace with your Cachix cache name
      #     authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build LiveCD
        run: |
          nix build -L .#nixosConfigurations.livecd.config.system.build.isoImage

      - name: Upload LiveCD ISO
        uses: actions/upload-artifact@v6
        with:
          path: ./result*/iso/*.iso
