name: Build Packages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # allows manual triggering

concurrency:
  group: build-pkgs
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Packages
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: wimpysworld/nothing-but-nix@v9
        with:
          hatchet-protocol: "rampage"

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            build-dir = /nix/build

      - name: Set up Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ccicnce113424 # replace with your Cachix cache name
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build Packages
        run: |
          nix run nixpkgs#nix-fast-build -- --skip-cached --no-nom --no-link --flake .#legacyPackages."x86_64-linux".ci-build | cachix push ccicnce113424
