name: Build LiveCD

on:
  schedule:
    - cron: "10 2 * * *"
  workflow_dispatch: # allows manual triggering

concurrency:
  group: build-livecd
  cancel-in-progress: true

jobs:
  build-livecd:
    runs-on: ubuntu-latest
    name: Build LiveCD
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: 'rampage'

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            accept-flake-config = true

      - name: Restore and save Nix store
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build LiveCD
        run: |
          nix build .#nixosConfigurations.livecd.config.system.build.isoImage --print-build-logs

      - name: Upload LiveCD ISO
        uses: actions/upload-artifact@v5
        with:
          path: ./result/iso/*.iso
