name: Check Flake

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # allows manual triggering

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check Flake
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: canidae-solutions/lix-quick-install-action@v4
        with:
          lix_conf: |
            accept-flake-config = true

      - name: Check
        run: |
          nix flake check
